html {
    background-color: #201C1B;
    color: white;
}

body {
    width: 980px;
    margin: 0px auto;
}

h1 {
    font-family: halis_rmedium;
    font-weight: normal;
    font-size: 36px;
    font-weight: 500;    
    margin-top: 70px;
    margin-bottom: 50px;
}

h2 {
    font-family: merelbold;
    font-weight: normal;
    font-size: 120px;
    line-height: 100%;
    width: 600px;
    margin-bottom: 70px;
    text-transform: uppercase;
}

p {
    font-family: merellight;
    font-weight: normal;
    font-size: 21px;
    line-height: 115%;
    margin-bottom: 20px;
    color: #ccc;
}

a {
    color: white;
}
